// IMPORTS
@import "vars"; // import _global_variables.scss
@import "mixins"; // import _mixins.scss

/*** Responsive Base ***/

.desktop {
	display: block;
	@include bp(tabtall) {
		display: none;
	}
}
.mobile {
	display: none;
	@include bp(tabtall) {
		display: block;
	}
}

/*** HEADER ***/

.header {
	text-align: center;
	margin: 20px 0 0 0;
	h1 {
		border-bottom: 1px solid #000;
		a {
			text-decoration: none;
		}
	}
}

/*** MUSING ***/

.m_date {
	text-transform: uppercase;
	text-align: center;
}

.m_content {
	border-bottom: 1px solid #000;
	margin: 0 0 20px 0;
	img {
		width: 95%;
		height: auto;
		padding: 2.5%;
		background: #000;
		&.no_cap {
			margin-bottom: 20px;
		}
		&.cap {
			margin-bottom: 0;
		}
	}
	.img_cap {
		text-align: center;
		font-style: italic;
	}
}

/*** MORE CRAP ***/

.recent {
	h3 {
		margin-bottom: 20px;
	}
	ul {
		margin: 0 0 20px 0;
		li {
			list-style-type: none;
			a {
				text-decoration: none;
			}
		}
	}
}

/*** FOOTER ***/

.footer {
	text-align: center;
}