// GLOBAL VARIABLES - include your variables here or alter the predefined vars
// See skeleton file for copyright info

// MY VARIABLES

// background vars
$backgroundColor: #fff; 														// default background information

// color vars


// font vars
$openSans: 'Open Sans', sans-serif;
$droid: 'Droid Serif', serif;
$elite: 'Special Elite', cursive;
$fontSize: 14px;																// default font size. Change here will adjust sizes across the board.
$fontFamily: $droid;														 	// default fonts
$fontColor: #333; 																// default font color

// form vars
$formFont: $fontFamily; 														// default font font

// link vars
$linkColor: #000;																// default link INERT color
$linkHoverColor: #000;															// default link HOVER color
$linkDecoration: underline;														// default link decoration
$linkHover: underline;

// heading vars
$headingFamily: $elite;													// default heading font
$headingColor: #000;	

// grid variables
$baseWidth: 		600px;														// change this to alter the overall width of the grid
$baseWidthMQ:		600px;														// base width for media query calculations in layout file
$baseColWidth: 		40px;														// change this the alter the grid calculation, see _mixins file for more details
$baseGutterWidth:	20px;														// calculation has changed, this is mainly here for consistency with 960.gs
$isFluid: 			false;														// want a fluid grid by default?

// ------ CHANGE MAY CAUSE UNDESIRED RESULTS
$baseColCount: 		12;															// number of cols to generate

// media query dimensions
$tabletWidth: 			768px;
$mobilePortraitWidth: 	300px;
$mobileLandscapeWidth: 	420px;
